################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/net-intermediate/FileContentIndex
/.vs/net-intermediate/v17
/.vs/ProjectEvaluation
/.vs/net-intermediate/DesignTimeBuild
/net-intermediate/bin/Debug/net8.0
/net-intermediate/obj
/net-intermediate.integrationTests/obj
/net-intermediate.unitTests/bin/Debug/net8.0
/net-intermediate.unitTests/obj/Debug/net8.0
/net-intermediate.unitTests/obj
.vs/net-intermediate/config/applicationhost.config
/net-intermediate.integrationTests/bin/Debug/net8.0
/test-client/bin/Debug/net8.0
/test-client/obj/Debug/net8.0
/test-client/obj
MessageQueue/bin/Debug/net8.0/MessageQueue.deps.json
MessageQueue/bin/Debug/net8.0/MessageQueue.dll
MessageQueue/bin/Debug/net8.0/MessageQueue.exe
MessageQueue/bin/Debug/net8.0/MessageQueue.pdb
MessageQueue/bin/Debug/net8.0/MessageQueue.runtimeconfig.json
MessageQueue/bin/Debug/net8.0/Newtonsoft.Json.dll
MessageQueue/bin/Debug/net8.0/RabbitMQ.Client.dll
MessageQueue/bin/Debug/net8.0/System.IO.Pipelines.dll
MessageQueue/bin/Debug/net8.0/System.Threading.RateLimiting.dll
MessageQueue/obj/MessageQueue.csproj.nuget.dgspec.json
MessageQueue/obj/MessageQueue.csproj.nuget.g.props
MessageQueue/obj/MessageQueue.csproj.nuget.g.targets
MessageQueue/obj/project.assets.json
MessageQueue/obj/project.nuget.cache
MessageQueue/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
MessageQueue/obj/Debug/net8.0/apphost.exe
MessageQueue/obj/Debug/net8.0/MessageQ.2D348BFB.Up2Date
MessageQueue/obj/Debug/net8.0/MessageQueue.AssemblyInfo.cs
MessageQueue/obj/Debug/net8.0/MessageQueue.AssemblyInfoInputs.cache
MessageQueue/obj/Debug/net8.0/MessageQueue.assets.cache
MessageQueue/obj/Debug/net8.0/MessageQueue.csproj.AssemblyReference.cache
MessageQueue/obj/Debug/net8.0/MessageQueue.csproj.BuildWithSkipAnalyzers
MessageQueue/obj/Debug/net8.0/MessageQueue.csproj.CoreCompileInputs.cache
MessageQueue/obj/Debug/net8.0/MessageQueue.csproj.FileListAbsolute.txt
MessageQueue/obj/Debug/net8.0/MessageQueue.dll
MessageQueue/obj/Debug/net8.0/MessageQueue.GeneratedMSBuildEditorConfig.editorconfig
MessageQueue/obj/Debug/net8.0/MessageQueue.genruntimeconfig.cache
MessageQueue/obj/Debug/net8.0/MessageQueue.GlobalUsings.g.cs
MessageQueue/obj/Debug/net8.0/MessageQueue.pdb
MessageQueue/obj/Debug/net8.0/MessageQueue.sourcelink.json
MessageQueue/obj/Debug/net8.0/ref/MessageQueue.dll
MessageQueue/obj/Debug/net8.0/refint/MessageQueue.dll
